{% extends 'portfolio/base.html' %}

{% block content %}

{% if page == 'register' %}
<section class="login">
    <div class="container">
            <h1>Регистрация</h1>
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Зарегистрироваться</button>
</form>
    <p>Если есть аккаунт <a href="{% url 'login' %}">Авторизация</a></p>
    </div>
</section>

{% else %}
<section class="login">
    <div class="container">
        <h1>Авторизация</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="username" placeholder="Username">

            </div>
            <input type="password" name="password" placeholder="password">
            <button class="search__btn">Авторизация</button>
        </form>
        <p>Нет аккаунта?</p>
        <a href="{% url 'register' %}">Зарегистрироваться</a>
    </div>
</section>
{% endif %}

{% endblock %}