{% extends 'portfolio/base.html' %}

{% block content %}

{% if page == 'register' %}
<section class="login">
    <div class="container">
        <form action="{% url 'register' %}" method="post" class="bg">
            <h1>Регистрация</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="login__btn">Зарегистрироваться</button>
            <p>Если есть аккаунт: <a href="{% url 'login' %}">Авторизация</a></p>
        </form>
    </div>
</section>
{% else %}
<section class="login">
    <div class="container">
        <form action="{% url 'login' %}" method="post" class="bg">
            {% csrf_token %}
            <h1>Авторизация</h1>
            <div>
                <label>Логин</label>
                <input class="form-input" type="text" name="username" placeholder="Username">
            </div>
            <div>
                <label>Пароль</label>
                <input class="form-input" type="password" name="password" placeholder="password">
            </div>
            <button class="login__btn">Авторизация</button>
            <p>Нет аккаунта?</p>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        </form>
    </div>
</section>
{% endif %}


{% endblock %}