<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <div class="logo">
        <a href="{% url 'home' %}"><img class="graf_logo" src="{% static 'portfolio/logo.png' %}" alt=""></a>
    </div>
    <nav>
        <div class="topnav" id="myNav">
            <a href="#">Главная</a>
            <a href="#">Каталог</a>
            <a href="#">О нас</a>
            <a href="#">Блог</a>
            <a href="#">Контакты</a>
            <a id="menu" class="icon" href="#">&#9776;</a>
        </div>
    </nav>
</header>




<div class="content">
    <div class="wrap">
        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>