<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <a href="#" class="header__logo"><img src="{% static 'portfolio/logo.png' %}" alt=""></a>
        <div class="header__menu menu">
            <div class="menu__icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="menu__body">
                <ul class="menu__list">
                    <li><a href="#" class="menu__link">Главная</a></li>
                    <li><a href="#" class="menu__link">Каталог</a></li>
                    <li><a href="#" class="menu__link">О нас</a></li>
                    <li><a href="#" class="menu__link">Блог</a></li>
                    <li><a href="#" class="menu__link">Контакты</a></li>
                    <li><a href="#" class="menu__link">Аккаунт</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="page">
        <section class="page__section">
            {% block content %}
            {% endblock %}
        </section>
    </main>
</div>




<script src="{% static 'js/script.js' %}"></script>
</body>
</html>