{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<section class="model">
  <div class="container">
    <div class="hr-text">
      ПОПУЛЯРНЫЕ <span style="color: #8E644C">МОДЕЛИ</span>
    </div>
  </div>
</section>

<!--<div class="hr-text">-->
<!--  ПОПУЛЯРНЫЕ <span style="color: #CBB486">МОДЕЛИ</span>-->
<!--</div>-->
<section class="block__works">
  <div class="container">
    <div class="works">
      {% for work in works %}
      {% if work.top_sales.all %}
      <div class="element">
        <div>
          <img src="{{ work.image_1.url }}" alt="image">
        </div>
        <div class="text">
          <h2>{{ work.title }}</h2>
          <p><span class="material">Материал:</span> {{ work.material }}</p>
          <p class="price">{{ work.price }} руб.</p>
          <div class="btn">
            <a href="{% url 'work-main' work.id %}">Подробнее</a>
          </div>
          <div class="btn">
            <a href="">Заказать</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="block__catalog__btn">
  <div class="container">
    <div class="btn1">
      <a href="{% url 'catalog' %}">Каталог</a>
    </div>
  </div>
</section>

<section class="block__fon">
  <div class="container">
    <div class="image">
      <div class="block__1_text">СОБСТВЕННОЕ<br><br>ПРОИЗВОДСТВО</div>

    </div>
    <div class="image-txt">

    </div>
  </div>
</section>




{% endblock %}