@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
/*--------------------Обнуление, body--------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    height: 100%;
}

body.lock {
    overflow: hidden;
}

.wrapper {    
    /* min-height: 100%; */
    overflow: hidden;
    display: grid;
    grid-template-areas: "contact" "header" "content" "footer";
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

/*--------------------Обнуление, body--------------------*/

/*--------------------Шапка--------------------*/
.name {
    font-size: 45px;
    font-family: 'Carter One', cursive;
    text-align: center;
    color: #fff;
}

.header {
    /* background-color: #CBB486; */
    background-image: url(../portfolio/fon1.jpg);
    box-shadow: inset 0 -6px 10px #5E4629;
    width: 100%;
    min-height: 400px;
}
.container {
    max-width: 1200px;
    margin: 0px auto;

}
.header__row {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.header__logo {
    text-decoration: none;
}

.header__logo img {
    width: 50px;
    padding: 0;
}

/*--------------------/Шапка--------------------*/
/*--------------------Меню--------------------*/
.menu__icon {
    display: none;
}

@media (max-width: 768px) {
    .menu__icon {
        display: block;
        width: 30px;
        height: 18px;
        position: relative;
        z-index: 5;
        cursor: pointer;
    }

    .menu__icon span {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .menu__icon span:first-child {
        top: 0;
    }

    .menu__icon span:last-child {
        top: auto;
        bottom: 0;
    }

    .menu__icon.active span {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    .menu__icon.active span:first-child {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }

    .menu__icon.active span:last-child {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
    }
}

@media (max-width: 768px) {
    .menu__body {
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }
}

.menu__body.active {
    left: 0;
}

.menu__list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}

@media (max-width: 768px) {
    .menu__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 30px;
        gap: 0;
        height: 100%;
        width: 60%;
        background-color: #B5B4B0;
        overflow: auto;
    }
}

.menu__link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.menu__link:hover {
    border-bottom: 3px solid #fff;
}

@media (max-width: 768px) {
    .menu__link {
        display: block;
        font-size: 30px;
        line-height: 70px;
    }
}

/*--------------------/Меню--------------------*/

/*---------------------block__1------------------------ */

.block__fon {
    /* background: #000; */
    background-image: url(../portfolio/fon1.jpg);
    background-color: #c7b39b;
    background-position: center;
    width: 100%;
    min-height: 600px;

    position: relative;
    text-align: center;
    color: #C7BDB2;
    box-sizing: border-box;
    z-index: -1;
}

.block__fon img {
    width: 100%;
    height: auto;
    opacity: 0.6;
}

.block__1_text {
    font-size: 60px;
    position:relative;
    top: 80px;
    /* left: 30px; */
}

/*---------------------block__1------------------------ */

/*--------------------/Page--------------------*/
/* .content {

} */

.model {
    background: #5E4629;
}
.hr-text {
    text-align: center;
    color: #000;
    font-size: 60px;
    /* background: #5E4629; */
    width: 100%;
    font-family: 'Acrom', Arial, sans-serif;
    padding: 30px 10px;
}

.block__works {
    background: #5E4629;

}
.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 0 15px;
}

.element,
.count {
    background: whitesmoke;
    border: 6px solid whitesmoke;
    margin: 30px 8px;
    
}

.text {
    max-width: 320px;
    padding: 20px;
    box-sizing: border-box;
}

.block__works img {
    max-width: 320px;

}

.text h2 {
    text-align: center;
    margin-bottom: 10px;
}

.text p {
    text-align: center;
    margin-bottom: 20px;
}

.material {
    font-weight: bold;
}

.price {
    color: #CBB486;
    font-size: 20px;
}

.btn {
    text-align: center;
    padding: 20px 0;
}

.btn a {
    font-size: 18px;
    color: #000;
    padding: 10px 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.block__catalog__btn {
    background: #5E4629;
}
.btn1 {
    text-align: center;
    padding: 50px 0;
}

.btn1 a {
    font-size: 20px;
    color: #000;
    padding: 10px 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn a:hover,
.btn1 a:hover {
    border-bottom: 3px solid #000;
}
/*--------------------/Page--------------------*/
/*--------------------/footer--------------------*/
.footer {
    background: #CBB486;


    margin-top: auto;
    padding: 30px;

}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    box-sizing: border-box;
    padding: 40px auto;
}
.col-md-4 {
    padding: 10px;
}

.messenger img {
    width: 40px;
    margin: 0 10px;
}
.mobile {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
.map-marker {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
.mobile:hover, .map-marker:hover {
    border-bottom: 3px solid #000;
}
@media (max-width: 720px){
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
}
/*--------------------/footer--------------------*/
.block__search {
    background: #5E4629;
}
.form__field {
    text-align: center;
}
.input__text {
    width: 250px;
    height: 40px;
    margin: 15px 10px 0 0;
    background: #fff;
    border: #fff;
    font-style: italic;
    border-radius: 5px;
    padding: 0 0 0 7px;
}
.search__btn {
    background: #CBB486;
    padding: 12px 10px;
    border-radius: 5px;
    font-style: italic; 
}
.search__btn:hover {
    background: #a89773;
}